@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.root {
  display: block;
  width: size(450);
  position: relative;

  @include mobile {
    width: size(320);
  }
}

.label {
  @include f('H4');
  cursor: text;
  position: absolute;
  bottom: size(10);
  left: size(10);
  color: $gray;
  transition: all 0.15s ease;

  @include mobile {
    @include f('m/h4');
  }
}

.input {
  @include f('H4');
  border: none;
  width: size(450);
  border-bottom: size(1) solid $gray;
  padding: size(10);

  @include mobile {
    @include f('m/h4');
    width: size(320);
  }
}

.input:focus ~ .label,
.input:valid ~ .label {
  transform: translate3d(size(-10), -160%, 0);
  @include f('normal');
  color: $black;

  @include mobile {
    @include f('m/normal');
  }
}

.input ~ .label.error,
.input.error {
  color: $red;
  border-bottom-color: $red;
}

.input:focus {
  outline: none;
}
