@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.root {
  display: block;
  width: size(430);
}

.block {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: size(300);
  border-radius: size(5);
  border: size(1) solid $black;
}

.default {
  @include f('H2');
  color: $white;
  text-shadow: 1px 0 $black, -1px 0 $black, 0 1px $black, 0 -1px $black,
    1px 1px $black, -1px -1px $black, 1px -1px $black, -1px 1px $black;
}

.img {
  width: 100%;
  height: size(300);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.root:hover .img {
  transform: scale(1.1);
}

.title {
  @include f('H4');
  color: $black;
  margin: size(10) 0;
}

.date {
  @include f('normal');
  color: $gray;
}
