@import "styles/colors.scss";
@import "styles/mixins.scss";
@import "styles/fonts.scss";

body {
  @include f("normal");
  color: $black;
  background-color: $white;
  --screen-size: #{$baseScreenSize};
  overflow-x: hidden;

  //@include mobile {
  //  @include f('m/normal');
  //  --screen-size: #{$mobileScreenSize};
  //}
}

.container {
  margin: 0 size(50);
}
