@import 'styles/mixins.scss';
@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.root {
  display: grid;
  margin: 0 size(95);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: size(50);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: size(600);
  padding: 0 size(100);
  height: size(200);
  border: 1px solid $opal;
}

.title {
  @include f('H3');
  text-align: center;
}

.description {
  @include f('normal');
  width: size(400);
  margin-top: size(10);
  text-align: center;
}
