@import "styles/mixins.scss";
@import "styles/fonts.scss";
@import "styles/colors.scss";

.root {
  margin-bottom: size(50);
  padding: size(14) 0;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.root p {
  @include f('H4');
  text-transform: uppercase;
  min-width: fit-content;
}

.root span {
  display: inline-block;
  min-width: size(10);
  min-height: size(10);
  margin: 0 size(10);
  border-radius: 100%;
  background-color: $black;
}