@import 'styles/mixins.scss';
@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: size(25);
  position: relative;
  z-index: 1;

  @include mobile {
    margin: size(20);
  }
}

.logo {
  @include f('H2');
  color: $white;
  text-shadow: 1px 0 $black, -1px 0 $black, 0 1px $black, 0 -1px $black,
    1px 1px $black, -1px -1px $black, 1px -1px $black, -1px 1px $black;
}

.menu {
  display: none;
  height: size(40);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-gap: size(7.5);

  @include mobile {
    display: flex;
  }
}

.menuTitle {
  @include f('m/h4');
}

.test {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $white;
  height: 100vh;
}

.nav {
  display: flex;
  gap: size(40);

  @include mobile {
    background-color: $white;
    z-index: -1;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    bottom: 0;
    left: 0;
    gap: size(20);
    transform: translateY(100%);
    transition: transform 0.5s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mobileNavActive {
  @include mobile {
    transform: translateY(0);
  }
}

.link {
  @include f('normal');
  color: $black;
}
