@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.root {
  margin: size(135) 0 size(90);

  @include mobile {
    margin: size(60) 0 size(30);
  }
}

.title {
  @include f('H1');
  position: relative;
  text-align: center;
  width: size(915);
  margin: 0 auto;

  @include mobile {
    @include f('m/h1');
    width: 100%;
  }
}

.news {
  display: grid;
  grid-template-columns: size(430) size(430) size(430);
  grid-column-gap: size(25);
  grid-row-gap: size(50);
  margin: size(100) size(50);

  @include mobile {
    grid-template-columns: size(320);
    margin: size(50) size(20);
  }
}
