@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.root {
  margin: size(135) 0 size(90);

  @include mobile {
    margin: size(60) 0 size(30);
  }
}

.top {
  position: relative;
}

.title {
  @include f('H1');
  position: relative;
  text-align: center;
  width: size(915);
  margin: 0 auto;

  @include mobile {
    width: 100%;
    @include f('m/h2');
  }
}

.description {
  position: absolute;
  right: size(270);
  top: size(-44);
  @include f('H3 Italic');
  color: $opal;

  @include mobile {
    right: size(10);
    top: size(-23);
    width: fit-content;
    @include f('m/h3 italic');
  }
}
