@import "styles/mixins.scss";
@import "styles/colors.scss";
@import "styles/fonts.scss";

.title {
  @include f('H2');
}

.description {
  @include f('H4');
  margin-top: size(20);
}

.description ul {
  list-style: disc;
  padding-left: size(40);
}