@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.root {
  margin-top: size(50);
}

.body {
  display: flex;
  align-items: flex-start;
  gap: size(100);
  margin-bottom: size(50);

  @include mobile {
    flex-direction: column;
    gap: size(25);
    margin: 0 size(20) size(50);
  }
}

.logo {
  @include f('H2');
  color: $white;
  text-shadow: 1px 0 $black, -1px 0 $black, 0 1px $black, 0 -1px $black,
    1px 1px $black, -1px -1px $black, 1px -1px $black, -1px 1px $black;

  @include mobile {
    margin: 0 auto;
  }
}

.description {
  @include f('normal');
  width: size(700);
  color: $gray;

  @include mobile {
    width: size(320);
    @include f('m/normal');
  }
}

.title {
  @include f('normal');
  text-decoration: underline;
  color: $black;
  margin-bottom: size(15);

  @include mobile {
    @include f('m/normal');
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: size(5);
}

.link {
  @include f('normal');
  color: $black;

  @include mobile {
    @include f('m/normal');
  }
}

.rights {
  padding: size(25) size(50);
  background-color: $lightGray;

  @include mobile {
    padding: size(15) size(20);
  }
}

.allRights {
  @include f('normal');
  color: $black;

  @include mobile {
    @include f('m/normal');
  }
}
