@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.title {
  @include f('H3');
}

.documents {
  display: grid;
  margin-top: size(50);
  grid-template-columns: size(400) size(400) size(400);
  grid-gap: size(20);
}
