@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.document {
  width: size(400);

  @include mobile {
    width: size(320);
  }
}

.block {
  width: size(400);
  height: size(250);
  border-radius: size(5);
  border: size(1) solid $black;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    width: size(320);
    height: size(200);
  }
}

.default {
  @include f('H2');
  color: $white;
  text-shadow: 1px 0 $black, -1px 0 $black, 0 1px $black, 0 -1px $black,
    1px 1px $black, -1px -1px $black, 1px -1px $black, -1px 1px $black;
}

.name {
  @include f('normal');
  margin-top: size(5);
  color: $black;

  @include mobile {
    @include f('m/normal');
  }
}
