@import "styles/mixins.scss";

.root {
  height: 100%;
  width: calc(100% + size(20));
}

.image {
  height: 100%;
  width: calc(100% - size(20));
  object-fit: cover;
}

.root.largeSquare {
  min-width: size(620);

  .image {
    border-radius: size(40);
  }
}

.root.smallSquare {
  min-width: size(320);

  .image {
    border-radius: size(40);
  }
}

.root.largeOval {
  min-width: size(620);

  .image {
    border-radius: size(200);
  }
}

.root.smallOval {
  min-width: size(320);

  .image {
    border-radius: size(200);
  }
}