@import "styles/mixins.scss";
@import "styles/colors.scss";
@import "styles/fonts.scss";

.root {
  height: 70vh;
  width: 100vw;
}

.block {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: size(620);
}