@import 'styles/mixins.scss';
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.root {
  margin: size(135) 0 size(90);
}

.title {
  @include f('H1');
  position: relative;
  text-align: center;
  width: size(915);
  margin: 0 auto;
}
